#header {
  position: relative;
  height: 100vh;
  max-height: 100%;
  background-image: url(../media/laptop.jpg);
  background-attachment: fixed;
  background-size: cover;

}

#header:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--color-secondary);
  opacity: 0.85;
  transform: scale(1.6);
  overflow: hidden;
}

.header-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  color: #fefefe;
  padding-left: 3rem;
}

.header-title {
  font-family: var(--font-secondary);
}

.header-desc {

}

.header-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 9px 0;
  color: #fefefe;
  font-family: var(--font-secondary);
  width: 30%;
  transition: all 0.2s linear;
}

.header-button:hover {
  background-color: #fefefe;
  color: var(--color-secondary);
}

